/* Page layout */
.scheduleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.scheduleHeader {
  font-size: 4rem;
  margin: 2rem;
  color: rgb(var(--foreground-rgb));
  text-align: center;
}

/* Main content */
.scheduleMain {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
  position: relative;
}

/* Sections */
.scheduleSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 250px;
}

.selectedSection {
  border-bottom: 1px solid white;
}

.scheduleSection h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: rgb(var(--foreground-rgb));
  text-align: center;
}

.scheduleSection ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scheduleSection li {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Aside */
.scheduleAside {
  margin-top: 7rem;
  width: 300px;
  position: fixed;
  right: 0;
  top: 0;
  padding: 2rem;
  text-align: center;
  background-color: rgba(var(--background-start-rgb), 0.9);
  box-shadow: -4px 0 6px rgba(0, 0, 0, 0.1);
  height: 100vh;
  overflow-y: auto;
  border-left: 1px solid white;
}

.scheduleAside h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: rgb(var(--foreground-rgb));
}

.scheduleAside ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scheduleAside li {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Grid for compositions */
.songsGrid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 1rem;
  max-width: 100%;
  width: var(--max-width);
  justify-items: center;
}
