/* Page layout */
.scheduleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.scheduleHeader {
  font-size: 4rem;
  margin: 2rem;
  color: rgb(var(--foreground-rgb));
  text-align: center;
}

/* Main content */
.scheduleMain {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
  position: relative;
}

/* Sections */
.scheduleSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 250px;
}

.selectedSection {
  border-bottom: 1px solid white;
}

.scheduleSection h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: rgb(var(--foreground-rgb));
  text-align: center;
}

.scheduleSection ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, auto);
  max-width: 100%;
  width: var(--max-width);
  justify-items: center;
}

.nameClash {
  background: red;
}

.scheduleSection li {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Grid for compositions */
.songsGrid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 1rem;
  max-width: 100%;
  width: var(--max-width);
  justify-items: center;
}
