.title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.formGroup {
  list-style-type: none;
  padding: 0;
  margin-bottom: 1.5rem;
}

.formGroup label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: white;
}

.formGroup input {
  width: 100%;
  padding: 0.5rem;
  border-radius: var(--border-radius);
}

.formGroup select {
  width: 100%;
  padding: 0.5rem;
  border-radius: var(--border-radius);
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1.5rem;
}

.buttonGroup button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 200ms;
}

.buttonGroup .submitButton {
  background-color: #0071ff;
  color: white;
}

.buttonGroup .closeButton {
  background-color: #ccc;
}

.buttonGroup button:hover {
  opacity: 0.8;
}

/* Specific to Ant Design form styles */
.ant-form-item {
  margin-bottom: 1rem;
}

.ant-form-item-label > label {
  color: white;
}

.ant-btn-primary {
  background-color: #0071ff;
  border-color: #0071ff;
}

.ant-btn-primary:hover {
  background-color: #005bb5;
  border-color: #005bb5;
}
